<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dite.znpt.mapper.TCompanyMapper">

    <sql id="Base_Column_List">
        a.company_id,         a.company_name,         a.address,         a.contact, 
        a.phone
    </sql>

    <select id="queryBySelective" resultType="com.dite.znpt.domain.vo.TCompanyResp">
        select
            <include refid="Base_Column_List"/>
        from t_company a
        <where>
            <if test="keyword != null and keyword != ''">
#                and (a.TODO like concat('%', #{keyword,jdbcType=VARCHAR}, '%') or a.TODO like concat('%', #{keyword,jdbcType=VARCHAR}, '%'))
            </if>
            <if test="companyId != null and companyId != ''">
                and a.company_id like concat ('%', #{companyId}, '%')
            </if>
            <if test="companyName != null and companyName != ''">
                and a.company_name like concat ('%', #{companyName}, '%')
            </if>
            <if test="address != null and address != ''">
                and a.address like concat ('%', #{address}, '%')
            </if>
            <if test="contact != null and contact != ''">
                and a.contact like concat ('%', #{contact}, '%')
            </if>
            <if test="phone != null and phone != ''">
                and a.phone like concat ('%', #{phone}, '%')
            </if>
        </where>
    </select>
</mapper>

